[Unit]
Description=Run my {{ app_container_name }} docker Container
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=docker
Group=docker
ExecStart=/usr/bin/docker start  {{ app_container_name }}
ExecStop=/usr/bin/docker stop -t 2 {{ app_container_name }}
ExecReload=/usr/bin/docker restart {{ app_container_name }}

[Install]
WantedBy=multi-user.target